<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>TITLE</title>
    </head>

    <body>

        <h1>HELLO GUYS</h1><br>

    <form action = "/process" method="GET">

  <label for="fer">First name:</label>
  <input type="text" id="fer" name="firster" placeholder="First Name"><br>

  <label for="ler">Last name:</label>
  <input type="text" id="ler" name="laster" placeholder="Last Name"><br><br>

  <input type="submit">
    </form>
    </body>
</html>